<div class="row top-bar">
    <div class="small-4 small-offset-4 columns">
        <h2>Profile</h2>
    </div>
    <div class="small-4 columns">
        <a href="#" class="top-bar-button right">Settings</a>
    </div>
</div>
<!-- This space is for the app's content -->
<div class="content"></div>
<div class="nav">
    <ul>
        <li class="nav-button"><a href="#">Feed</a></li>
        <li class="nav-button"><a href="#">Groups</a></li>
        <li class="nav-button"><a href="#">Goals</a></li>
        <li class="nav-button nav-me"><a href="#">Me</a></li>
    </ul>
</div>
