<section class="skin-dark" role="region">
    <section class="skin-dark" role="region">
        <header>
            <h1>ZgzBus</h1>

            <form name="form">
                <input type="number" ng-model="busInfo.busStop" name="busStop" integer min="1" max="999"
                       data-ng-change="getBusTimeTable()">
            </form>

            <!--<menu type="toolbar">-->
            <!--&lt;!&ndash;<a href="#"><span class="icon icon-edit">edit</span></a>&ndash;&gt;-->
            <!--</menu>-->


        </header>
    </section>
    <section role="region">
        <progress ng-if="inProgress" value="0" max="100" class="pack-activity"></progress>
    </section>
</section>
<div class="row">
    <div class="small-4 large-4 columns">
        <h2 ng-if="busInfo.title">{{busInfo.title}}</h2>

    </div>
    <div class="small-6 large-4 columns" ng-if="busInfo.error">{{busInfo.error}}</div>
</div>

<div class="row resultado" ng-repeat="busFreq in busInfo.frequencies" ng-class="getDistanceClass(busFreq.timeToArrive)">
    <div class="small-4 large-4 columns poste">{{busFreq.bus}}</div>
    <div class="small-4 large-4 columns tiempo">{{busFreq.timeToArrive}}</div>
    <div class="small-4 large-4 columns direccion">{{busFreq.destiny}}</div>
</div>
